# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Talent_Tracker\Talent_Tracker-application\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
